.chartPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
  position: relative;
  canvas {
    width: 100%;
  }
  .chart {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
}

.right-info {
  margin-left: auto; /* 确保右侧信息对齐到右边 */
  position: absolute;
  left: 15px;
  top: 15px;
  font-size: 0.8em; /* 调整为更小的字体大小 */
}
@media (max-width: 600px) {
  .right-info {
    top: 5px;
    left: 12px;
    font-size: 0.3em; /* 调整为更小的字体大小 */
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  text-align: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

hr {
  margin: 20px 0 20px 0;
  opacity: 0.2;
}
span,
div {
  color: #555;
}

.bth-group {
  position: absolute;
  top: 20px;
  right: 15px;
  button {
    margin-right: 10px;
  }
}

@media (max-width: 600px) {
  .bth-group {
    top: 9px;
    right: 10px;

    button {
      padding: 3px 5px;
      font-size: smaller;
    }
  }
}

.error-message {
  color: red;
  text-align: center;
}

.retry-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.retry-button:hover {
  background-color: #0056b3;
}
